@model IEnumerable<Timbi.Data.Models.User>

<form class="form-inline mt-2 mt-md-0 mr-2" method="post" asp-controller="AdminPanel" asp-action="Company">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Работа с компаниями</button>
</form>
<br />

@{
    ViewBag.Title = "Список пользователей";
}
<br />

<a asp-action="Create">Добавить пользователя</a>

<table class="table">
    <tr><th>Email</th><th>Год</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Year</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                    <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
                    <a class="btn btn-sm btn-primary" asp-action="ChangePasswordUser" asp-route-id="@user.Id">Сменить пароль пользователем</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
