@model UserAreaViewModel
<h1 align="center">Подключение</h1>
<br />
<br />

@*@if (!Model.PageOneComplete)
{*@
<form align="center" class="col-form-label" method="post" asp-controller="Connect" asp-action="ConnectPage">
    <div align="center">
        <div class="row col-md-12">
            <div class="col - lg - 2" style="border: thin solid black">
                <br />
                <p>Регион</p>
                <select asp-for="RegionFact">
                    @foreach (Region Region in Model.Regions)
                    {
                        <option value="@Region.RegionCompany">@Region.RegionCompany</option>
                    }
                </select>
                <br />
                <br />
            </div>
            <div class="col - lg - 2" style="border: thin solid black">
                <br />
                <p>Статус</p>
                <p></p>
                @foreach (var status in Model.Status)
                {
                    <input type="radio" asp-for="StatusFact" value="@status" /> @status <span asp-validation-for="StatusFact"></span> <br />
                }
                <br />

            </div>
            <div class="col - lg - 2" style="border: thin solid black">
                <br />
                <p>Услуги</p>
                <p></p>
                @foreach (TypeService type in Model.TypeService)
                {
                    <input type="radio" asp-for="TypeServiceFact" value="@type.TypeServices" /> @type.TypeServices <span asp-validation-for="TypeServiceFact"></span> <br />
                }
                <br />
            </div>
            <br />
            <input type="submit" />
            <br />
        </div>
    </div>
    <br />
   
</form>

<div class="container" align="center">


    @*<form align="center" class="col-form-label" method="post" asp-controller="Connect" asp-action="ConnectPage">
        </form>*@


    <div class="row col-md-12">

        @foreach (Company Company in Model.Company)
        {
            <form align="center" >
                @*<div class="col - lg - 2">*@
                    <br />
                    <br />
                    @*@Html.Partial("AllCompany", Company)*@
                    @*<div class="col - lg - 2" style="border: thin solid black">*@
                        <input type="image" src="~/img/CompanyIcon/gaz.jpg" alt="@Company.NameCompany" />
                        <h2 align="center">@Company.NameCompany</h2>
                        <input type="submit" class="btn btn-warning" asp-route-id="@Company.NameCompany"  asp-controller="Connect" asp-action="ConnectPage_two" />
                        <br />
                    @*</div>*@
                @*</div>*@
            </form>
        }
            <br />      
        </div>






            <br />
            <br />
</div>
