@model UserAreaViewModel
<h1 align="center">Подключение</h1>
<br />
<br />

<div>

    <form class="col-form-label" method="post" asp-controller="Connect" asp-action="ConnectPage">
        @*<div asp-validation-summary="ModelOnly"></div>*@
        <p>Регион</p>

        <select asp-for="RegionFact">
            @{
                foreach (Region Region in Model.Regions)
                {
                    <option value="@Region.RegionCompany">@Region.RegionCompany</option>
                }
            }
        </select>
        <br />
        <br />

        <p>Статус</p>

        <p></p>



        @foreach (var status in Model.Status)
        {
            <input type="radio" asp-for="StatusFact" value="@status" /> @status <span asp-validation-for="StatusFact"></span> <br />

        }
        <br />

        <p>Услуга</p>
        <p></p>
        @foreach (TypeService type in Model.TypeService)
        {
            <input type="radio" asp-for="TypeServiceFact" value="@type.TypeServices" /> @type.TypeServices <span asp-validation-for="TypeServiceFact"></span> <br />

        }
        <br />





        <input type="submit" />
        <br />
    </form>
</div>


<br />









 @*method="post" asp-controller="Connect" asp-action="ConnectPage_two"*@
@*<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Далее</button>*@

<br />
<br />
<br />